.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.heading {
  font-weight: bold;
}
.courses-list-container {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
